
.msg {
    display: inline-block;
    border-radius: 15px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.myMsg {
    text-align: right;
}

.anotherMsg > .msg {
    background-color: #f1f0f0;

}


.myMsg > .msg {
    background-color: #0084FF;
    color: #fff;
}


#chatLog {
    height: 700px;
    overflow-y: auto;
    padding: 10px;
}

#chatWrap {
    width: 600px;
    border: 1px solid #ddd;
}

#chatForm {
    display: block;
    width: 100%;
    height: 50px;
}

#chatForm > button[type=submit] {
	/* send button */
    outline: none;
    border: none;
    background: none;
    color: #0084FF;
    font-size: 17px;
    float:right;
}

#chatForm > input[type=text] {
	/* questioner */
    outline: none;
    border: none;
    background: none;
    color: #0084FF;
    font-size: 17px;
    width : 90%;
    border : 1px solid #0080ff;
    padding-bottom : 5px;
}

#question{
	display: block;
    width: 100%;
    height: 200px;
    /*border-top: 2px solid #f0f0f0;*/
    border : 1px solid #0080ff;
    overflow:hidden;
    resize:none;
}
