@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 800px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.form h3{
  display: block;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  width:600px;
  margin-top : 0px;
  
 font-family: "Roboto", Helvetica, Arial, sans-serif;
 color: #777;
  
}
body {
  background: #f3f4fe; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


/*Ask Button*/

.ask{
	float:right;	
	margin:6px;
}
.main{
	float:left;	
	margin:6px;
}

.Button {
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #525252;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.Button:hover {
  background-color: #0084FF;
  box-shadow: 0px 15px 20px #cee9fd;
  color: #fff;
  transform: translateY(-2px);
}


/*login-page*/


.msg {
	max-width:500px;
    display: inline-block;
    border-radius: 10px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    
    word-break:break-all;
    font-size : 20px;
}

.myMsg {
    text-align: right;
}

.anotherMsg > .anotherName {
    font-size:18px;
    color:#636363;
}

.anotherMsg > .msg {
    background-color: #f1f0f0;

  	text-align: left;
}


.myMsg > .msg {
    background-color: #0084FF;
    color: #fff;
}


#chatLog {
    height: 700px;
    overflow-y: auto;
    padding: 10px;
}

#chatWrap {
    width: 100%;
    border: 1px solid #ddd;
}

#chatForm {
    display: block;
    width: 100%;
    height: 50px;
}


/* --------  */

