@charset "EUC-KR";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
  color: #777;
  background: #ffffff;
}

.container {

  min-width: 400px;
  width: 90%;
  padding-top:50px;
  padding-bottom:100px;
  margin:auto;
  position: relative;
  background: #ffffff;
  border: 1px solid #ccc;
}


#contact {
  max-width: 800px;
  width: 90%;
  margin:auto;
  border: 1px solid #ccc;
  background: #F9F9F9;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;

  margin-top:20px;
  margin-bottom : 20px;
}
#date{
	float:right;
	margin-right:5%;
}

#contact h5 {
  display: block;
  font-weight: 300;
  margin-top:0px;
  margin-bottom:0px;
  
  float:left;
}

#questioner{
	padding-bottom :30px;
	margin-top:15px;
}

.msg{
  width: 90%;
  margin-left:45px;
  
  margin-top:25px;
  background: #F9F9F9;
  padding: 10px;
  padding-top:20px;
  padding-bottom:20px;
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #8b857f73;
  
  color :#000;
  max-width: 100%;
  height:auto;
  
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  
  line-height :35px;
  font-size: 14px;
  
}

.question{
}

.answer{
}
#questionerId{
	margin-left:15px;
	font-size: 20px;
}
#questionImg{
	margin-top:25px;
	float:left;
	width:30px;
}
#questionerImg{
	margin-top:3px;
	float:left;
	width:30px;
}
#answerImg{
	margin-top:35px;
	float:left;
	width:30px;
}

#profile{
  max-width: 800px;
  width: 90%;
  margin:auto;
  border: 1px solid #ccc;
  background: #F9F9F9;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;

  margin-top:10px;
  margin-bottom : 10px;
}
#introduce{
	overflow: auto;
    white-space: pre-wrap;
    word-break: break-all;
    
    margin-top:10px;
    margin-bottom:5px;
    
    font-size:14px;
    padding:10px;
}
#searchedId {
  margin:auto;
  padding-top:20px;
  padding-bottom:20px;
  font-size: 30px;
  font-weight: 300;
  color:#000000;
}

#profileImg{
	width:80px;
	border:1px solid #000;
}
#askImg{
	width:80px;
	margin-left:80%;
}

#askedAnswered{
	margin-top : 50px;
	margin-left : 10px;
	float:left;
}

@media ( max-width: 760px ) {
    #askedAnswered{
    display:none
    }
    #questionImg{
    width:70px;
    }
    #contact{
    padding:10px;
    }
    #answerImg{
    width:25px;
    }
    #questionerImg{
    width:25px;
    }
    #questionImg{
    width:25px;
    }
    .msg{
    width:93%;
    margin-left:30px;
    }
    
}
